body{
    background: #c5c5b8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    width: 40%;
    margin: auto;
    text-align: center;
}

.holder{
    margin: 20px 0;
}

.entry{
    background: rgba(59, 74, 107, .4);
}



.headline {
 padding: 20px;
 font-size: 25px;
 background-color: #2263da;
 color: #fff;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    height: 60px;
    background:#EEE;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding:0 10px;
}

button{
    width: 150px;
    height: 60px;
    background: #2263da;
    color: #fff;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 20px;
    box-shadow: 2px 4px 5px #444;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    font-size: 36px;
}

textarea{
    font-size: 20px;
    width: 100%;
    padding:10px;
    height: 120px;
    background-color: #EEE;
    font-family: 'Oswald', sans-serif;
}
.pa{
    padding: 10px 0;
    font-size: 17px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #fff; 
    font-family: 'Oswald', sans-serif;

} 